.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ItemCollectionView {
  top: 0px;
  margin: 0px;
  padding: 0px 2px 2px 3px;
  border-width: 2px;
  border-bottom-width: 2px;
  /* border-top-width: 2px; */
  border-bottom-color: White;
  border-bottom-style: solid;
  width: 100%;
}

.titleCollectionView {
  top: 0px;
  margin: 0px;
  padding: 0px 2px 2px 3px;
  border-width: 2px;
  width: 100%;
  border: 5px solid #8a8585;
}

.titleCollectionViewBlur {
  top: 0px;
  margin: 0px;
  padding: 0px 2px 2px 3px;

  color: #554f4f;
}

.buttonStyling {
  border-radius: 100%;
  background-color: #70b9da;
  border-width: 0px;
}

.deleteButton {
  border-radius: 100%;
  background-color: #d2868d;
  border-width: 0px;
}

.compeltedItem {
  text-decoration: line-through;
}

.collectionsTemp {
  padding: 100px;
  border-width: 1px;
  border: 5px solid #ffffff;
  margin: 50px;
}
